/*
 * Sunrays animation (see http://davidwalsh.name/css-spin-revisited)
 */

/* basic structure for the rays setup */
#raysContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#raysPosition {
    position: relative;
    width: 490px;
    margin: 13% auto 0;
    transform: translateY(-13%);
}

/* TODO:
#raysLogo { 
    width: 300px; 
    height: 233px; 
    text-indent: -3000px; 
    background: url(../img/logo.png) 0 0 no-repeat; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 2; 
}
*/

#rays   { /* with animation properties */
    background: url(../img/rays.png) 0 0 no-repeat;
    position: relative;
    top: 0;
    left: 0;
    width: 490px;
    height: 490px;
    animation-name: spin; 
    animation-duration: 40000ms;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

#rays:hover {
    /* animation-duration: 10000ms; 10 seconds - speed it up on hover! */
    /* resets the position though!  sucks */
}

/* keyframes for animation;  simple 0 to 360 */

/* Standard */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* Firefox */ 
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

/* MS IE */ 
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

/* Opera */ 
@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
