/* basic structure for the rays setup */
#raysContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#rays {
    display: block;
    opacity: 0.1;

    /* center oversized rays */
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

    /* animation properties */
    animation-name: spin; 
    animation-duration: 66666ms;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

/* keyframes for animation; simple 0 to 360 */

/* Standard */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* Firefox */ 
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

/* MS IE */ 
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

/* Opera */ 
@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
